body {
    padding: 10px;
}

.dropdown-menu {
    position: absolute;
    display: block;
    top: auto;
    margin-top: -10px;
}

.row, .dropdown-menu {
    margin-left: 20px;
}

.row {
    margin: 20px;
}

input[type="text"] {
    background-color: #DFF0D8;
}

input.invalid {
    background-color: #F2DEDE;
}

.saving{
    cursor:wait;
}

fieldset, 
input[type=text] {
    box-sizing:border-box;
    width: 100%;
}

input[type=text] {
    padding: 20px 6px;
}

fieldset#controls { 
    margin-top: 30px;
    position: relative;
}

#clear-frontend { 
    position: absolute; 
    right: 0;
}

#environment {
    line-height: 40px;
    position: absolute; 
}

input[type=checkbox].status {
    width: 33px;
    height: 33px;
    float: left;
    margin-right: 10px;
}

/** Events Editor */

/** events */

.events > .event-wrapper {
    border-top: 1px solid #eee;
    padding: 8px 0;
}

.events > .event-wrapper:nth-child(odd) {
    background-color: #f9f9f9;
}

.event {
    padding: 0 4px;
}

.event-header {
}

.event-children {
    padding-left: 20px;    
}

.event-title {
    color: #51A351;
    font-size: 1em;
    cursor: pointer;
}

.event-article-count {
    color: #999;
    font-size: 0.8em;
}

.event-parent {
    color: #ccc;
    font-weight: bold;
}

.event-form,
.event-form-toggler {
    margin: 8px 0;    
}

.editing .event-form-toggler {
    display: none;
}

.event-articles{
    margin: 10px 0;
}

.icon-star-empty {
    opacity: 0.2;
}

/** articles, in all uses */

.article {
    display: block;
    overflow: hidden;
    padding: 0 0 8px 0;
    -webkit-transition: opacity 0.5s;
       -moz-transition: opacity 0.5s;
        -ms-transition: opacity 0.5s;
         -o-transition: opacity 0.5s;
            transition: opacity 0.5s;
}

.article-star {float: left; display: block; width: 18px; }

.article-title { font-size: 1em; color: #005689;}
.article-id { font-size: 1em; color: #999; margin-bottom: 0; font-size: 0.9em; }
.article-date { font-size: 1em; color: #ccc; margin-bottom: 0; font-size: 0.8em; line-height: 0.99em; }

/** search results */

.articles {
    border-top: 1px dotted #999;
    padding: 8px 0;
    margin: 13px 0;
}

.articles .article {
    cursor: move;
}

.articles .article:hover {
    background-color: #eee;
}

/** scaffolding */
.storify {
    overflow: hidden;
    display: table;
}

.storify-events, .storify-articles {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 800px;
    padding: 0 8px 0 0;
}

.storify input[type="text"]{
    background-color: #fff;
    color: #000;    
}
.storify { 
    margin-top: 20px;
}
input#tone-news { 
    float: left;
    margin-right: 5px;
}

label[for="tone-news"] { 
    font-size: 12px;
}
