body {
    padding: 10px;
}

.dropdown-menu {
    position: absolute;
    display: block;
    top: auto;
    margin-top: -10px;
}

.row, .dropdown-menu {
    margin-left: 20px;
}

.row {
    margin: 20px;
}

input[type="text"] {
    background-color: #DFF0D8;
}

input.invalid {
    background-color: #F2DEDE;
}

.saving{
    cursor:wait;
}

fieldset, 
input[type=text] {
    box-sizing:border-box;
    width: 100%;
}

input[type=text] {
    padding: 20px 6px;
}

fieldset#controls { 
    margin-top: 30px;
    position: relative;
}

#clear-frontend { 
    position: absolute; 
    right: 0;
}

#environment {
    line-height: 40px;
    position: absolute; 
}

input[type=checkbox].status {
    width: 33px;
    height: 33px;
    float: left;
    margin-right: 10px;
}

/* Events Editor */

.event {
    border-top: 1px dotted #999;
}

.event-title {
    min-height: 20px;
    color: #000;
}

.event-form,
.event-form-toggler {
    margin: 8px 0;    
}

.editing .event-form-toggler {
    display: none;
}

.event-range {
    margin: 10px 0 0 0;
    float: right;
    width: 20%;
}
.event-range-show {
    display: inline-block;
    float: right;
    margin: 10px 10px 0 0;
    font-size: 12px;
    color: #999;
}


.event-articles{
    margin: 10px 0 0 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.event-article {
    padding: 2px 0;
    min-height: 22px;
    overflow: auto;
}

.event-article:nth-child(odd) {
    background-color: #f0f0f0;
}

.article-range {
    float: right;
    width: 20%;
}

.article-range-show {
   float: right;
   margin: 0 10px 0 0;
   font-size: 12px;
   color: #ccc;
}

.articles { 
}

.articles-article {
    color: #999;
}

.articles-article-checked {
    color: #468847;
    font-weight: bold;
}

/** events */

/** */
.storify {
    overflow: hidden;
}

.storify-events, .storify-articles {
    overflow-y: auto; 
    max-height: 600px;
}

/** search results */
.articles label h3 { font-size: 1em; color: blue; margin: 12px 0 3px; line-height: 15px; }
.articles label p[data-bind="text: id"] { font-size: 1em; color: green; margin-bottom: 0; font-size: 0.9em; }
.articles label p[data-bind="text: webPublicationDate"] { font-size: 1em; color: #999; margin-bottom: 0; font-size: 0.9em; }
.articles label { padding-left: 0; }
.articles label:hover { cursor: pointer; background-color: #ffe; }
.storify-articles input[type="text"]{
    background-color: #fff;
    color: #000;    
}
.storify { 
    margin-top: 20px;
}
.storify-articles {
    padding-left: 5px;
    border-left: 1px solid #999;
    -webkit-linear-gradient(top,#fff,#f2f2f2)
}
.event-article { 
    padding: 8px 0 8px 5px;
}
