@(config: String)

@main("Front editor", isAuthed = true) {
    <script>
        var frontConfig = @Html(config)
    </script>

    <form id="network-front">
        <!-- <fieldset class="trailblocks">
            <legend>UK Edition</legend>
            <label for="tag">Tag</label>
            <input type="text" class="typeahead" data-provide="typeahead" data-items="4" data-source='["abc", "asd", "asdf"]' name="tag" />
            <input type="hidden" name="edition" value="uk" />
        <fieldset> -->
        <fieldset class="trailblocks">
            <legend>US Edition</legend>
            <label for="tag">Tag</label>
            <input type="text" class="typeahead" data-provide="typeahead" data-items="4" data-source='["abc", "asd", "asdf"]' name="tag" />
            <input type="hidden" name="edition" value="us" />
        <fieldset>
        <input type="submit" value="Save" />
    </form>

    <script>
        curl(['controllers/trailblocks']).then(function(Trailblocks) {
            // trailblocks controller
            new Trailblocks({el: $("body")})
        });
    </script>


    <script type="text/javascript">

        /*$("#trigger").click(function(){
            $.ajax({
                contentType: 'application/json',
                type: "POST",
                url: '/json/save',
                dataType: 'json',
                data: '{"name" : "' + $("#name").val() + '"}',
                success: function (response) {
                    alert(response.status);
                },
                error: function(response){
                    var details = JSON.parse(response.responseText);
                    alert(details.status);
                }
            })
        });*/
    </script>
}
