@(edition: String)

@main("Front editor: " + edition, edition: String) {

    <div class="page-header">
        <h3>Beta special event editor <small>@edition edition</small></h3>
    </div>

    <form class="well" method="POST">
        <input type="hidden" name="edition" value="@edition"/>
        <div>
            <label for="tag">Tag
                <input class="pickable-tag" id="tag" name="tag" />
                <input id="tag-id" name="tag-id" readonly="readonly"/>
            </label>
            <label> Ed. picks
                <input type="radio" name="source" value="ed-picks"/>
            </label>
            <label> Lead content
                <input type="radio" name="source" value="lead"/>
            </label>
            <label> Latest
                <input type="radio" name="source" value="latest"/>
            </label>
            <label> Num items
            </label>
            <input type="range" />
        </div>
       <button type="submit" class="btn">Save</button>
    </form>
}
