@(config: String)

@main("Front editor", isAuthed = true) {

    <script>
        var frontConfig = @Html(config);
    </script>

    <form id="frontend-tool"  data-bind="template: { name: 'edition-template', foreach: editions }">
        <div id="autocomplete" style="position:absolute"></div>
        <input type="button" value="Clear" id="clear-form" />
        <input type="submit" value="Save" />
    </form>

    <script type="text/html" id="edition-template">
        <fieldset>
            <legend><span data-bind="text: id.toUpperCase()"></span> Edition</legend>
            <div data-bind="template: { name: 'trailblock-template', foreach: trailblocks }" />
        <fieldset>
    </script>

    <script type="text/html" id="trailblock-template">
        <label for="tag-id">Tag ID</label>
        <input data-bind="value: id" type="text" class="typeahead" autocomplete="off" name="tag-id" />
        <label for="tag-title">Tag Title</label>
        <input data-bind="value: title" type="text"name="tag-title" />
    </script>

    <script src="@routes.Assets.at("javascripts/frontendTool.js")" type="text/javascript"></script>

}