@(identity: String, env: String)

@main("Story editor", env, isAuthed = true, identity) {

<div class="storify row-fluid">
  <div class="storify-articles span4">
    <form class="form-inline muted" onsubmit="return false">
        <h3>Articles</h3>
        <input type="text" placeholder="Search" 
            data-bind='event: {keyup: articles.search, mousedown: articles.articleSearch, afterpaste: articles.articleSearch}, value:
            articles.term, valueUpdate: ["afterkeydown", "afterpaste"]'/>
            <label class="checkbox">
        </label>
    </form>

    <div class="articles scrollable" data-bind='foreach: articles.articles'>
        <div class="article" draggable="true" data-bind="makeDraggable: true">
            <a class="article-title" target="_blank"
                data-bind="html: webTitle, attr: {href: _mDot}"></a>
            <div class="article-meta"  data-bind="text: _humanDate"></div>
        </div>
    </div>
  </div>

  <div class="storify-events span8">
    <p class="saving">
        <span class="muted" data-bind="visible: $root.pendingSave()"></span>
    </p>
    <button class="btn btn-mini btn-success" data-bind="
        event: {click: stories.createStory},
        visible: !stories.selected()
        ">Start a Story</button>
    <!-- ko if: !$root.stories.selected() -->
        <dl class="stories" data-bind="
            template: {name: 'story_closed_template', foreach: stories.stories}
            "></dl>
        <div data-bind="text: stories.stories().length === 0 ? 'Loading stories...' : ''"></div>
    <!-- /ko -->

    <!-- ko with: $root.stories.selected() -->
        <div class="stories" data-bind="template: {name: 'story_open_template'}"></div>
    <!-- /ko -->

  </div>
</div>

<!-- template: story in closed state -->
<script type="text/html" id="story_closed_template">
        <p> 
            <span class="story-title-closed hoverable" data-bind="
                text: title().length > 0 ? title : '(Un-titled story)',
                event: {click: $root.stories.setSelected}
                "></span>
            <span class="count" data-bind="
                text: (events().length ? events().length : 'no') + ' chapter'+(events().length===1?'':'s')
                "></span>
        </p>
</script>

<!-- template: story in open state -->
<script type="text/html" id="story_open_template">
    <div class="story-wrap">
        <p>
            <button class="btn btn-mini" data-bind="
                event: {click: $root.stories.clearSelected},
                disable: $root.pendingSave()
                ">&laquo; Back to Stories</button>
        </p>

        <p class="muted">Name</p>
        <p>
            <span class="story-title" data-edit="title" data-bind="
                visible: !_editing_title(),
                text: title() ? title : '(no title)',
                click: _edit
                "></span>
            <input type="text" placeholder="Story Title" class="story-title" data-bind="
                visible: _editing_title,
                value: title,
                hasfocus: _editing_title
            "/>
            <span class="cta" data-bind="visible: !events().length">
                | <a data-bind="event: {click: $root.stories.deleteSelected}">delete Story</a>
        </p>

        <p>
            <p class="muted">
                Chapters (latest first)
                <span class="cta" data-bind="visible: !_selected()">
                    | <a data-bind="
                        event: {click: createEvent},
                        text: events().length === 0 ? 'Add the first chapter' : 'add a chapter'
                    "></a>
                </span>
            </p>

            <div class="events" data-bind="template: {name: 'event_template', foreach: events}"></div>
        </p>

        <p class="muted">Hero image</p>
        <p>
            <img class="story-hero" data-edit="hero" data-bind="
                visible: !_editing_hero() && hero(),
                attr: {src: hero},
                click: _edit
            "/>
            <span class="story-hero" data-edit="hero" data-bind="
                visible: !_editing_hero() && !hero(),
                click: _edit
                ">(none)</span>
            <input type="text" class="story-hero" placeholder="http://... image url" data-bind="
                visible: _editing_hero,
                value: hero,
                hasfocus: _editing_hero
            "/>
        </p>

        <p>
            <p class="muted">Story Synopsis</p>
            <p>
                <div class="synopsis" data-edit="explainer" data-bind="
                    visible: !_editing_explainer(),
                    html: explainer() ? explainer : '(no explainer)',
                    click: _edit
                    "></div>
                <textarea data-bind="
                    visible: _editing_explainer,
                    value: _explainerBreaks,
                    hasfocus: _editing_explainer
                    "/></textarea>
            </p>
        </p>
    </div>
</script>

<!-- template: event -->
<script type="text/html" id="event_template">
    <div class="event" data-bind="makeDropabble: true, css: {eventwell: $parent._selected() === $data}">
        <i data-bind="
            click: bump,
            css: {
                'icon-star-empty': importance() <= 50,
                'icon-star': importance() > 50
            }
            "></i>

        <!-- An UNselected event: -->
        <!-- ko if: $parent._selected() !== $data -->
            <span class="event-title" data-bind="
                text: title().length > 0 ? title : '(no title)',
                event: {click: $parent.setSelected}
                "></span>
            <span class="count" data-bind="
                visible: content().length > 0,
                text: content().length + ' article' + (content().length !== 1 ? 's' : '')
                "></span>
            <span class="count" data-bind="
                visible: agents().length > 0,
                text: agents().length + ' agent' + (agents().length !== 1 ? 's' : '')
                "></span>
            <span class="event-meta" data-bind="text: _humanDate"></span>
        <!-- /ko -->

        <!-- An SELCTED event: -->
        <!-- ko if: $parent._selected() === $data -->

            <span class="event-title" data-edit="title" data-bind="
                visible: !_editing_title(),
                text: title() ? title : '(no title)',
                click: _edit
                "></span>
            <input type="text" placeholder="Chapter Title" data-bind="
                visible: _editing_title,
                value: title,
                hasfocus: _editing_title
            "/>

            <span class="cta">
                | <a data-bind="click: $parent.clearSelected">collapse</a>
                | <a data-bind="click: $parent.deleteEvent">delete Chapter</a>
            </span>

            <div class="event-innards">

                <p>
                    <p class="muted">Articles</p>
                    <div class="event-articles" data-bind="
                        template: {name: 'event_article_template', foreach: content}
                        "></div>
                    <!-- ko if: content().length === 0 -->
                        <div class="alert">drag articles here</div>
                    <!-- /ko -->
                </p>

                <p>
                    <p class="muted">Chapter Synopsis</p>
                    <div class="synopsis" data-edit="explainer" data-bind="
                        visible: !_editing_explainer(),
                        html: explainer() ? explainer : '(no explainer)',
                        click: _edit
                        "></div>
                    <textarea class="synopsis" data-bind="
                        visible: _editing_explainer,
                        value: _explainerBreaks,
                        hasfocus: _editing_explainer
                    "/></textarea>
                </p>

                <p>
                    <span class="muted">Agents</span>
                    <span class="cta">
                        | <a data-bind="event: {click: addAgentPerson}">add Person</a>
                        | <a data-bind="event: {click: addAgentOrganization}">add Organisation</a>
                    </span>
                </p>
                <div class="event-agents" data-bind="
                    template: {name: 'event_agent_template', foreach: agents}
                    "></div>
                <!-- ko if: agents().length === 0 -->
                    <p class="event-agents">(none)</p>
                <!-- /ko -->

                <p>
                <span class="muted">Takes place on</span>
                </p>
                <p class="synopsis">
                    <input type="date" class="input-medium" data-bind='value: _prettyDate, valueUpdate:     "afterkeydown"'/>
                    <span class="muted">at</span>
                    <input type="time" class="input-medium" data-bind='value: _prettyTime, valueUpdate: "afterkeydown"'/>
                </p>
            </div>
        <!-- /ko -->
    </div>
</script>

<!-- template: articles within events -->
<script type="text/html" id="event_article_template">
    <div class="article">
        <div class="article-star" data-bind="
            click: $parent.bumpContent,
            css: {
                'icon-star-empty': importance() <= 50,
                'icon-star': importance() > 50
            }
            "></div>
        <a class="article-title" target="_blank" data-bind="
            text: webTitle() ? webTitle : id, 
            attr: {href: _mDot}
            "></a>
        <span class="cta"> 
            | <a data-bind='click: $parent.removeArticle'>delete Article</a></span>

        <div class="article-meta">
            <span data-bind="text: _humanDate"></span>
            <span class="article-colour" data-bind="
                visible: colour,
                text: _colourAsText
                "></span>
        </div>

        <p class="article-tone-picker">
            <label data-bind="click: setColour" data-tone="1">
                <span class="value" data-tone="1">Overview</span>
            </label>
            <label data-bind="click: setColour" data-tone="2">
                <span class="value" data-tone="2">Background</span>
            </label>
            <label data-bind="click: setColour" data-tone="3">
                <span class="value" data-tone="3">Analysis</span>
            </label>
            <label data-bind="click: setColour" data-tone="4">
                <span class="value" data-tone="4">Reaction</span>
            </label>
            <label data-bind="click: setColour" data-tone="5">
                <span class="value" data-tone="5">Light</span>
            </label>
            <label data-bind="click: setColour" data-tone="0">
                <span class="value" data-tone="0">(none)</span>
            </label>
        </p>
    </div>
</script>

<script type="text/html" id="event_agent_template">
    <div class="agent">

        <!-- Agent Name -->
        <div data-bind="visible: !_editing_name()">
            <i data-bind="
                click: bump,
                css: {
                    'icon-star-empty': !importance(),
                    'icon-star': importance()
                }
                "></i>
            <span class="agent-name" data-edit="name" data-bind="
                text: name() ? name : '(Name)',
                click: _edit
                "></span>
            <span class="cta">
                | <a data-bind="event: {click: $parent.removeAgent}">delete</a>
                </span>
        </div>
        <input type="text" placeholder="Name" data-bind="
            visible: _editing_name,
            value: name,
            hasfocus: _editing_name
            "/>

        <!-- Agent picture -->
        <div data-edit="picture" data-bind="
            visible: !_editing_picture() && !picture(),
            click: _edit
            ">(Picture)</div>
        <img class="agent-picture" data-edit="picture" data-bind="
            visible: !_editing_picture() && picture(),
            attr: {src: picture},
            click: _edit
            "/>
        <input type="text" placeholder="http://...image url" data-bind="
            visible: _editing_picture,
            value: picture,
            hasfocus: _editing_picture
            "/>

        <!-- Agent role -->
        <div class="agent-role" data-edit="role" data-bind="
            visible: !_editing_role(),
            text: role() ? role : '(Role)',
            click: _edit
            "></div>
        <input type="text" placeholder="role" data-bind="
            visible: _editing_role,
            value: role,
            hasfocus: _editing_role
            "/>

        <!-- Agent explainer -->
        <div class="agent-explainer" data-edit="explainer" data-bind="
            visible: !_editing_explainer(),
            text: explainer() ? explainer : '(Explainer)',
            click: _edit
            "></div>
        <textarea type="text" placeholder="Explainer" data-bind="
            visible: _editing_explainer,
            value: explainer,
            hasfocus: _editing_explainer
            "/></textarea>

    </div>
</script>

<script type="text/html" id="wsywig_toolbar_template">
    <div id="wysihtml5-toolbar" ><!-- style="display: none;" -->
        <a data-wysihtml5-command="bold">bold</a>
        <a data-wysihtml5-command="italic">italic</a>
    </div>
</script>

<script src="@routes.Assets.at("javascripts/storyEditor.js")"></script>
<script src="@routes.Assets.at("javascripts/vendor/humanized_time_span.js")"></script>

}
