@(identity: String, env: String)

@main("Story editor", env, isAuthed = true, identity) {

<div class="storify row-fluid">
  <div class="storify-articles span4">
    <form class="form-inline muted" onsubmit="return false">
        <h3>Articles</h3>
        <input type="text" placeholder="Search" 
            data-bind='event: {keyup: articles.search, mousedown: articles.articleSearch, afterpaste: articles.articleSearch}, value:
            articles.term, valueUpdate: ["afterkeydown", "afterpaste"]'/>
            <label class="checkbox">
        </label>
    </form>

    <div class="articles scrollable" data-bind='foreach: articles.articles'>
        <div class="article" draggable="true" data-bind="makeDraggable: true">
            <a class="article-title" target="_blank"
                data-bind="html: webTitle, attr: {href: _mDot}"></a>
            <div class="article-meta"  data-bind="text: _humanDate"></div>
        </div>
    </div>
  </div>

  <div class="storify-events span8">
            <p class="saving">
                <span class="muted" data-bind="visible: $root.pendingSave()"></span>
            </p>
      <p>
        <button class="btn btn-mini create btn-success" data-bind="
            event: {click: stories.createStory}
            ">Start a Story</button>
      </p>
    <!-- ko if: !$root.stories.selected() -->
        <dl class="stories" data-bind="
            template: {name: 'story_closed_template', foreach: stories.stories}
        "></dl>
        <div data-bind="text: stories.length() === 0 ? 'Loading stories...' : ''"></div>
    <!-- /ko -->

    <!-- ko with: $root.stories.selected() -->
        <div class="stories" data-bind="template: {name: 'story_open_template'}"></div>
    <!-- /ko -->

  </div>
</div>

<!-- template: story in closed state -->
<script type="text/html" id="story_closed_template">
    <dt class="story-wrap">
        <p class="hoverable" data-bind="
            text: title().length > 0 ? title : '(Un-titled story)',
            event: {click: $root.stories.setSelected}
            "></p>
    </dt>
    <dd>
    <p>
        <p data-bind="text:explainer()"></p>
    </p> 
    </dd>
</script>

<!-- template: story in open state -->
<script type="text/html" id="story_open_template">
    <div class="story-wrap">

        
        <p>
        <button class="btn btn-mini" data-bind="
            event: {click: $root.stories.clearSelected},
            disable: $root.pendingSave()
        ">&laquo; Back to Stories</button>
        </p>

        <p class="muted">Name:</p>
        <p>
            <span class="story-title" data-bind="
                visible: !_title_editing(),
                text: title() ? title : '(no title)',
                click: _title_edit
            "></span>
            <input placeholder="Story Title" class="story-title" data-bind="
                visible: _title_editing,
                value: title,
                hasfocus: _title_editing
            "/>
            <span class="cta" data-bind="visible: !length()">
                | <a data-bind="event: {click: $root.stories.deleteSelected}">delete this story</a>
        </p>

        <p>
            <p class="muted">
                Chapters 
                <span class="cta" data-bind="visible: !_selected()">
                    | <a data-bind="
                        event: {click: createEvent},
                        text: length() === 0 ? 'Add the first chapter' : 'add a chapter'
                    "></a>
                </span>
            </p>

            <div class="events" data-bind="template: {name: 'event_template', foreach: events}"></div>
        </p>

        <p>
            <p class="muted">Synopsis:</p>
            <p>
                <div class="synopsis" data-bind="
                    visible: !_explainer_editing(),
                    text: explainer() ? explainer : '(no explainer)',
                    click: _explainer_edit
                "></div>
                <textarea class="synopsis" data-bind="
                    visible: _explainer_editing,
                    value: explainer,
                    hasfocus: _explainer_editing
                "/></textarea>
            </p>
        </p>
    </div>
</script>

<!-- template: event -->
<script type="text/html" id="event_template">
    <div class="event" data-bind="makeDropabble: true, css: {eventwell: $parent._selected() === $data}">
        <i data-bind="
            click: bump,
            css: {
                'icon-star-empty': importance() <= 50,
                'icon-star': importance() > 50
            }
        "></i>

        <span data-bind="text: $parent.length()-$index()"> </span>.

        <!-- An UNselected event: -->
        <!-- ko if: $parent._selected() !== $data -->
            <span class="event-title" data-bind="
                text: title().length > 0 ? title : '(no title)',
                event: {click: $parent.setSelected}
            "></span>
            <span class="count" data-bind="
                text: content().length + ' article' + (content().length !== 1 ? 's' : '')
            "></span>
            <span class="event-meta" data-bind="text: _humanDate"></span>
        <!-- /ko -->

        <!-- An SELCTED event: -->
        <!-- ko if: $parent._selected() === $data -->

            <span class="event-title" data-bind="
                visible: !_title_editing(),
                text: title() ? title : '(no title)',
                click: _title_edit
            "></span>
            <input placeholder="Chapter Title" data-bind="
                visible: _title_editing,
                value: title,
                hasfocus: _title_editing
            "/>

            <span class="cta">
                | <a data-bind="click: $parent.clearSelected">collapse</a>
                | <a data-bind="click: $parent.deleteEvent">delete this chapter</a>
            </span>


            <div class="event-innards">

                <p>
                    <p class="muted">Articles</p>
                    <div class="event-articles" data-bind="
                        template: {name: 'event_article_template', foreach: content}
                    "></div>
                    <!-- ko if: content().length === 0 -->
                        <div class="alert">drag articles here</div>
                    <!-- /ko -->
                <p>

                <p>
                    <p class="muted">Chapter Synopsis:</p>
                    <div class="synopsis" data-bind="
                        visible: !_explainer_editing(),
                        text: explainer() ? explainer : '(no explainer)',
                        click: _explainer_edit
                    "></div>
                    <textarea class="synopsis" data-bind="
                        visible: _explainer_editing,
                        value: explainer,
                        hasfocus: _explainer_editing
                    "/></textarea>
                </p>

                <p>
                <span class="muted">Takes place on</span>
                </p>
                <p class="synopsis">
                    <input type="date" class="input-medium" data-bind='value: _prettyDate, valueUpdate:     "afterkeydown"'/>
                    <span class="muted">at</span>
                    <input type="time" class="input-medium" data-bind='value: _prettyTime, valueUpdate: "afterkeydown"'/>
                </p>
            </div>
        <!-- /ko -->
    </div>
</script>

<!-- template: articles within events -->
<script type="text/html" id="event_article_template">
    <div class="article">
        <div class="article-star" data-bind="
            click: $parent.bumpContent,
            css: {
                'icon-star-empty': importance() <= 50,
                'icon-star': importance() > 50
            }
        "></div>
        <a class="article-title" target="_blank" data-bind="
            text: webTitle() ? webTitle : id, 
            attr: {href: _mDot}
            "></a>
        
        <div class="article-meta">
            <span data-bind="text: _humanDate"></span>
            -
            <span data-bind="text: _colourAsText"></span>

        </div>

        <p class="article-tone-picker">
            <label data-bind="click: $parent.setColour" data-tone="1">
                <span class="value" data-tone="1">Overview</span>
            </label>
            <label data-bind="click: $parent.setColour" data-tone="2">
                <span class="value" data-tone="2">Background</span>
            </label>
            <label data-bind="click: $parent.setColour" data-tone="3">
                <span class="value" data-tone="3">Analysis</span>
            </label>
            <label data-bind="click: $parent.setColour" data-tone="4">
                <span class="value" data-tone="4">Reaction</span>
            </label>
            <label data-bind="click: $parent.setColour">
                <span class="value">None</span>
            </label>
            </p>

        <p class="article-delete">
            <span class="cta" data-bind='click: $parent.removeArticle'>Delete</span>
        </p>
    
    </div>
</script>

<script src="@routes.Assets.at("javascripts/storyEditor.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/humanized_time_span.js")" type="text/javascript"></script>


}
