@(config: String, env: String)

@main("Events editor", env, isAuthed = true) {

<div class="storify row-fluid">

  <div class="storify-events span6">
    <h3>Events <button class="btn btn-mini" data-bind="event: {click: events.createEvent}">Create a new event</button></h3>

    <div data-bind="text: events.length() === 0 ? 'Loading...' : ''"></div>

    <div data-bind="foreach: events.events">
        <div class="event">

            <input type="range" class="event-range" min="0" max="100"
                data-bind="value: importance, event: {change: backgroundSave}" />

            <!--span class="event-range-show" data-bind="text: importance"></span-->

            <h5>
                <a class="event-title" href="javascript:void(0)" data-bind="
                    text: title().length > 0 ? title : 'New Event',
                    event: {click: toggleShowing}" ></a>
                <small data-bind="text: '(' + content().length + ')'"></small>
                
                <!-- ko if: parent().id -->
                <div>
                    <small>follows <strong data-bind="text: parent().id"></strong></small>
                </div>
                <!-- /ko -->
            </h5>

            <div class="event-wrapper" data-bind="if: _viewing()">

                <div class="event-detail" data-bind="ifnot: _editing()">
                    <button class="btn btn-mini btn-success" data-bind="click: addArticle">Add selected articles</button>
                    <button class="btn btn-mini" data-bind="click: $root.events.createEventFollowOn">Create a "follow on" event</button>
                    <div class="event-articles" data-bind="foreach: content">
                        <div class="event-article">
                            <i class="icon-remove-circle" 
                                data-bind='click: $parent.removeArticle' class="close"></i>
                            <span data-bind="text: webTitle() ? webTitle : id"></span>
                            <input type="range" class="article-range" min="0" max="100"
                                data-bind="value: importance, event: {change: $parent.backgroundSave}" style="display: none;"/>

                            <!--span class="article-range-show" data-bind="text: importance"></span-->
                        </div>
                    </div>
                    <dl>
                        <dt>Date</dt><dd data-bind="text: _prettyDate"></dd>
                        <dt>Time</dt><dd data-bind="text: _prettyTime"></dd>
                        <dt>URL</dt><dd data-bind="text: id"></dd>
                    </dl>

                    <div class="event-form-toggler">
                        <a data-bind="event: {click: toggleEditing}" href="javascript:void(0)">Edit Event</a>
                    </div>
                </div>

                <form class="event-form" 
                    data-bind="if: _editing(), submit: save">
                    <label>What happened? (or what is happening?)</label>
                    <input type="text" placeholder="e.g. 'Helicopter crash"
                        data-bind='value: title, valueUpdate: "afterkeydown"' />
                        
                    <label>When</label>
                    <input type="date"
                        data-bind='value: _prettyDate, valueUpdate: "afterkeydown"' />

                    <label>Time</label>    
                    <input type="time"
                        data-bind='value: _prettyTime, valueUpdate: "afterkeydown"' />

                    <label>Did this event follow another?</label>
                    <select data-bind='value: parent().id'>
                        <option>(nothing)</option>
                        <optgroup label="another event:" data-bind="foreach: $root.events.events">
                            <!-- ko if: id && id !== $parent.id -->
                            <option data-bind="attr: {value: id}, text: title"></option>
                            <!-- /ko -->
                        </optgroup>
                    </select>


                    <button class="btn btn-success" type="submit" data-bind="enable: _isValid">Save event</button>
                </form>

            </div>
        </div>
    </div>
  </div>

  <div class="storify-articles span6">
    <h3>Articles</h3>
    <input type="text" placeholder="Article search" 
        data-bind='event: {keyup: articles.articleSearch}, value: articles.articleTerm, valueUpdate: "afterkeydown"'/>
    <div class="articles" data-bind='foreach: articles.articles'>
        <label class="checkbox articles-article" data-bind="css: {'articles-article-checked': checked}">
            <input type="checkbox" data-bind="attr: {value: id}, checked: checked"/>
            <span data-bind="text: webTitle"></span>
            <span data-bind="text: webPublicationDate"></span>
            <span data-bind="text: trailText"></span>
        </label>
    </div>
  </div>

</div>

<script src="@routes.Assets.at("javascripts/eventsEditor.js")" type="text/javascript"></script>
}
