@(identity: String, env: String)

@main("Story help", env, isAuthed = true, identity) {

<dl>
    

    <dt>Story</dt>
    <dd>
        <dl>
            <dt>Hero</dt>
            <dd></dd>
            <dt>Synopsis</dt>
            <dd></dd>
            <dt>Notable assosciations</dt>
            <dd></dd>
        </dl> 
    </dd>

    <dt>Chapters</dt>
    <dd>
        <dl>
            <dt>Articles</dt>
            <dd></dd>
            <dt>Star</dt>
            <dd></dd>
            <dt>Star</dt>
            <dd></dd>
            <dt>Synopsis</dt>
            <dd></dd>
            <dt>Notable assosciations</dt>
            <dd></dd>
        </dl> 
    </dd>

</dl>

}

