@(title: String, edition: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <!-- bootstrap -->
        <link href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")' rel="stylesheet">
        <script>
            var curl = {
                paths: {
                    EventEmitter: '@routes.Assets.at("javascripts/vendor/EventEmitter")',
                    Common: '@routes.Assets.at("javascripts/common")',
                    Reqwest: '@routes.Assets.at("javascripts/vendor/reqwest")',
                    TagSearch: '@routes.Assets.at("javascripts/modules/TagSearch")',
                    AutoComplete: '@routes.Assets.at("javascripts/modules/AutoComplete")'
                }
            }
        </script>
        <script src='@routes.Assets.at("javascripts/vendor/curl.js")' type="text/javascript"></script>
        <script>
            
            define('Config', function() {
                return {
                    apiKey: '@conf.Configuration.api.key'
                }
            });

            curl(["Config", "Common", "AutoComplete", "TagSearch"]).then(function (Config, Common, TagSearch) {
                
                    Common.mediator.emitEvent('go!');

                    document.getElementById('tag').addEventListener('keyup', function(){
                        Common.mediator.emitEvent('modules:oncomplete', [this.value])
                    })

                    window.mediator = Common.mediator; // DEBUG

                }, function(e) {
                
                    console.log('Something has gone wrong here', e);
            
            })
        </script>

        </head>
    <body>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="brand">Tools</div>
            <ul class="nav">
                <li @if(edition == "US"){class="active"}><a href="/admin/edit/us">US</a></li>
                <li @if(edition == "UK"){class="active"}><a href="/admin/edit/uk" >UK</a></li>
            </ul>
        </div>
    </div>
        @content
    </body>
</html>
