@(title: String, edition: String)(content: Html)

<!DOCTYPE html>

<html ng-app>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        
        <!-- bootstrap -->
        <link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        
        <script src="@routes.Assets.at("knockout-2.1.0.debug.js")"></script>
        
        <!-- custom css -->
        <link href="@routes.Assets.at("css/style.css")" rel="stylesheet">

        <script>
            var curl = {
                paths: {
                    EventEmitter: '@routes.Assets.at("javascripts/vendor/EventEmitter")',
                    Common: '@routes.Assets.at("javascripts/common")',
                    Reqwest: '@routes.Assets.at("javascripts/vendor/reqwest")',
                    TagSearch: '@routes.Assets.at("javascripts/modules/TagSearch")',
                    ItemSearch: '@routes.Assets.at("javascripts/modules/ItemSearch")'
                }
            }
        </script>
        <script src="@routes.Assets.at("javascripts/vendor/curl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/underscore.js")" type="text/javascript"></script>
        <script>
            define('Config', function() {
                return {
                    apiKey: '@conf.Configuration.api.key'
                }
            });
            
            
            /*curl(["Config", "Common"]).then(function 
                        (Config, Common) {
                
                    Common.mediator.emitEvent('go!');

                }, function(e) {
                
                    console.log('Something has gone wrong here with the curl.js loading', e);
            
                })*/
            </script>

    </head>
    <body>

    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav"> <!-- iOS switch - broadcast to swap form models -->
                <li><a href="#/us">US</a></li>
                <li><a href="#/uk">UK</a></li>
            </ul>
        </div>
    </div>

        @content

        <script src="@routes.Assets.at("jquery-ui-1.8.23.custom/js/jquery-1.7.2.min.js")"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
        <script>
            $.ready(function() { 
                console.log($('.typeahead')); //.typeahead()
            });
        </script>
    </body>
</html>
